@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

body {
  background: cornsilk;
}

#root {
  display: flex;
  justify-content: center;
}

.fxp {
  text-align: center;
}

.fxp-title {
  margin-bottom: 0;
  color: brown;
}

.fxp-motto {
  margin-top: 0;
  font-size: 1em;
  color: slategray;
}

/* fxPocket App => fxp- namespace */
.fxp-app {
  display: flex;
}

/* Borrowed from http://tobiasahlin.com/spinkit/ */
.fxp-loading {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

.fxp-currency {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.fxp-currency--quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fxp-currency--counter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fxp-currency__result {
  margin-top: 0.8em;
}

.fxp-currency__label {
  padding-left: 0.8em;
}
