#root {
  display: flex;
  justify-content: center;
}

/* fxPocket App => fxp- namespace */
.fxp {
  display: flex;
}

.fxp-currency {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.fxp-currency--quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fxp-currency--counter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fxp-currency__result {
  margin-top: 0.8em;
}

.fxp-currency__label {
  padding-left: 0.8em;
}
